

.flag-select .country-flag .country-label {
  color: grey;
  padding: 0 !important;
  margin: 0 !important;
}

.flag-select .arrow-down {
  color: #ccc;
}

.flag-select .flag-options {
  border-radius: none;
}

.flag-select .selected--flag--option {
  font-size: 1rem !important;
  /* sdisplay: flex; */
}

.country-flag img {
  width: 20px !important;
  height: 20px !important;
  margin-right: 1rem !important;
}

.ui.menu.fixed .item:last-child {
  padding-right: 2rem !important;
}

.ui.menu.fixed .item:first-child {
  margin-left: calc(50% - 150px)
}
